autorecord.ask = 
autorecord.default = yes
autorecord.no = 
autorecord.yes = 
debug.writesyncfile = no
gui.windowed = no
notify.recordingstart = no
output.format = mp3
output.format.mp3.bitrate = 128
output.format.vorbis.quality = 3
output.path = ~/Skype
output.pattern = Calls with &s/Call with &s, %a %b %d %Y, %H:%M:%S
output.savetags = yes
output.stereo = yes
output.stereo.mix = 0
preferences.version = 2
suppress.firstruninformation = yes
suppress.legalinformation = yes
