[Desktop Entry]
Name=VT1
GenericName=VT1
Comment=Linux Terminal
Exec=gnome-terminal --profile="Shell"
Terminal=false
Type=Application
Icon=gnome-terminal
Categories=Network;FileTransfer;
StartupNotify=false
