[Desktop Entry]
Name=VT2
GenericName=VT2
Comment=Sync your files across computers and to the web
Exec=gnome-terminal --profile="Matt Parrott"
Terminal=false
Type=Application
Icon=gnome-terminal
Categories=Network;FileTransfer;
StartupNotify=false
